@model CRUD_FSBR.Models.Processo

@{
    ViewData["Title"] = "READ";
}

<h1>LEITURA DO PROCESSO</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">Npu</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Npu)
        </dd>
        <dt class="col-sm-2">Cadastrado em</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CadastradoEm)
        </dd>
        <dt class="col-sm-2">Última vizualização</dt>
        <dd class="col-sm-10" id="visualizadoEm">
            @Html.DisplayFor(model => model.VisualizadoEm)
        </dd>
        <dt class="col-sm-2">UF</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt class="col-sm-2">Municipio</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Municipio.id) - @Html.DisplayFor(model => model.Municipio.nome)
        </dd>
    </dl>
</div>
<div>
    <button id="updateVisualizadoEmBtn" class="btn btn-primary">Atualizar Vizualização</button> |
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">✏️ EDITAR</a> |
    <a asp-action="Index" class="btn btn-info">VOLTAR A LISTA</a>
</div>
@section Scripts {
    <script>
        document.getElementById('updateVisualizadoEmBtn').addEventListener('click', function () {
            var processoId = @Model.Id;
            fetch(`/Processos/UpdateVizualizadoEm?id=${processoId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('visualizadoEm').textContent = new Date(data.visualizadoEm).toLocaleString();
                    } else {
                        alert("Erro ao atualizar a data de visualização.");
                    }
                })
                .catch(error => console.error('Erro:', error));
        });
    </script>
}